### 1. Library 반입

In [1]:
import pandas as pd
from scipy import stats 
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

### 2. Data 반입

In [2]:
df = pd.read_csv('./Df1.csv')
df.head()

    Sex Genotype  Amplitude  Frequency          Cell_ID
0  Male       WT      15.68       0.64  220519_WT_M_#01
1  Male       WT      17.77       3.51  220519_WT_M_#05
2  Male       WT      26.30       2.26  220519_WT_M_#06
3  Male       WT      23.31       1.04  220519_WT_M_#07
4  Male       WT      14.43       2.36  220614_WT_M_#05

### 3. 정규성 검정
#### 3.1. Group data 분할

In [3]:
df_M_WT=df[(df['Sex']=='Male')&(df['Genotype']=='WT')]
df_M_HM=df[(df['Sex']=='Male')&(df['Genotype']=='HM')]
df_F_WT=df[(df['Sex']=='Female')&(df['Genotype']=='WT')]
df_F_HM=df[(df['Sex']=='Female')&(df['Genotype']=='HM')]

#### 3.2. Amplitude data에 대한 정규성 검정

In [4]:
stats.shapiro(df_M_WT['Amplitude']),stats.shapiro(df_M_HM['Amplitude']),stats.shapiro(df_F_WT['Amplitude']),stats.shapiro(df_F_HM['Amplitude'])

(ShapiroResult(statistic=0.8828874230384827, pvalue=0.024113327264785767),
 ShapiroResult(statistic=0.9355946183204651, pvalue=0.3301889896392822),
 ShapiroResult(statistic=0.8748361468315125, pvalue=0.026248687878251076),
 ShapiroResult(statistic=0.9362682700157166, pvalue=0.3726012408733368))

#### 3.3. Frequency data에 대한 정규성 검정

In [5]:
stats.shapiro(df_M_WT['Frequency']),stats.shapiro(df_M_HM['Frequency']),stats.shapiro(df_F_WT['Frequency']),stats.shapiro(df_F_HM['Frequency'])

(ShapiroResult(statistic=0.8080657720565796, pvalue=0.0015003165462985635),
 ShapiroResult(statistic=0.8708535432815552, pvalue=0.034729454666376114),
 ShapiroResult(statistic=0.8401544690132141, pvalue=0.007616985589265823),
 ShapiroResult(statistic=0.9326087236404419, pvalue=0.33182117342948914))

### 4. 등분산 검정
#### 4.1. Amplitude data에 대한 등분산 검정

In [6]:
stats.bartlett(df_M_WT['Amplitude'], 
               df_M_HM['Amplitude'], 
               df_F_WT['Amplitude'], 
               df_F_HM['Amplitude'])

BartlettResult(statistic=12.064005091824422, pvalue=0.007167091378714406)

#### 4.2. Frequency data에 대한 등분산 검정

In [7]:
stats.bartlett(df_M_WT['Frequency'], 
               df_M_HM['Frequency'], 
               df_F_WT['Frequency'], 
               df_F_HM['Frequency'])

BartlettResult(statistic=6.305585749678398, pvalue=0.09765325275608604)

### 5. 1-way ANOVA 
#### 5.1. Amplitude data에 대한 1-way ANOVA

In [8]:
stats.f_oneway(df_M_WT['Amplitude'], 
               df_M_HM['Amplitude'],
               df_F_WT['Amplitude'], 
               df_F_HM['Amplitude'])

F_onewayResult(statistic=2.408676921854699, pvalue=0.0756828909314861)

#### 5.2. Frequency data에 대한 1-way ANOVA

In [9]:
stats.f_oneway(df_M_WT['Frequency'], 
               df_M_HM['Frequency'],
               df_F_WT['Frequency'], 
               df_F_HM['Frequency'])

F_onewayResult(statistic=0.8057129059912601, pvalue=0.49555239217271374)

### 6. 2-way ANOVA
#### 6.1. Amplitude data에 대한 2-way ANOVA

In [10]:
model = ols('Amplitude~C(Sex)+C(Genotype)+C(Sex):C(Genotype)', df).fit()
anova_lm(model)

                      df      sum_sq    mean_sq         F    PR(>F)
C(Sex)               1.0   47.833564  47.833564  6.403952  0.013983
C(Genotype)          1.0    0.210063   0.210063  0.028123  0.867374
C(Sex):C(Genotype)   1.0    5.930357   5.930357  0.793956  0.376408
Residual            61.0  455.632302   7.469382       NaN       NaN

#### 6.2. Frequency data에 대한 2-way ANOVA

In [11]:
model2 = ols('Frequency~C(Sex)+C(Genotype)+C(Sex):C(Genotype)', df).fit()
anova_lm(model2)

                      df      sum_sq   mean_sq         F    PR(>F)
C(Sex)               1.0    2.361538  2.361538  0.758618  0.387176
C(Genotype)          1.0    2.688674  2.688674  0.863707  0.356367
C(Sex):C(Genotype)   1.0    2.474210  2.474210  0.794813  0.376152
Residual            61.0  189.889680  3.112946       NaN       NaN