### 1. Library 반입

In [23]:
import pandas as pd
from scipy import stats 
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

### 2. Data 반입

In [24]:
df = pd.read_csv('./Df3.csv')
df.head()

    Sex Genotype  Amplitude  Frequency          Cell_ID
0  Male       WT      44.06       0.74  220822_WT_M_#02
1  Male       WT      31.33       0.74  220822_WT_M_#03
2  Male       WT      38.63       1.50  220822_WT_M_#04
3  Male       WT      43.29       1.22  220822_WT_M_#05
4  Male       WT      46.93       1.64  220822_WT_M_#10

### 3. 정규성 검정
#### 3.1. Group data 분할

In [25]:
df_M_WT=df[(df['Sex']=='Male')&(df['Genotype']=='WT')]
df_M_HM=df[(df['Sex']=='Male')&(df['Genotype']=='HM')]
df_F_WT=df[(df['Sex']=='Female')&(df['Genotype']=='WT')]
df_F_HM=df[(df['Sex']=='Female')&(df['Genotype']=='HM')]

#### 3.2. Amplitude data에 대한 정규성 검정

In [26]:
stats.shapiro(df_M_WT['Amplitude']),stats.shapiro(df_M_HM['Amplitude']),stats.shapiro(df_F_WT['Amplitude']),stats.shapiro(df_F_HM['Amplitude'])

(ShapiroResult(statistic=0.9275552034378052, pvalue=0.17585569620132446),
 ShapiroResult(statistic=0.9425902962684631, pvalue=0.32072290778160095),
 ShapiroResult(statistic=0.6638517379760742, pvalue=1.0083410415973049e-05),
 ShapiroResult(statistic=0.9245233535766602, pvalue=0.0735853835940361))

#### 3.3. Frequency data에 대한 정규성 검정

In [27]:
stats.shapiro(df_M_WT['Frequency']),stats.shapiro(df_M_HM['Frequency']),stats.shapiro(df_F_WT['Frequency']),stats.shapiro(df_F_HM['Frequency'])

(ShapiroResult(statistic=0.6791349649429321, pvalue=4.61376148450654e-05),
 ShapiroResult(statistic=0.9074060916900635, pvalue=0.07744553685188293),
 ShapiroResult(statistic=0.8882588148117065, pvalue=0.020853102207183838),
 ShapiroResult(statistic=0.8691349029541016, pvalue=0.005059569142758846))

### 4. 등분산 검정
#### 4.1. Amplitude data에 대한 등분산 검정

In [28]:
stats.bartlett(df_M_WT['Amplitude'], 
               df_M_HM['Amplitude'], 
               df_F_WT['Amplitude'], 
               df_F_HM['Amplitude'])

BartlettResult(statistic=37.080097438058004, pvalue=4.425284575166763e-08)

#### 4.2. Frequency data에 대한 등분산 검정

In [29]:
stats.bartlett(df_M_WT['Frequency'], 
               df_M_HM['Frequency'], 
               df_F_WT['Frequency'], 
               df_F_HM['Frequency'])

BartlettResult(statistic=10.595139242449628, pvalue=0.014129208414897577)

### 5. 1-way ANOVA 
#### 5.1. Amplitude data에 대한 1-way ANOVA

In [30]:
stats.f_oneway(df_M_WT['Amplitude'], 
               df_M_HM['Amplitude'],
               df_F_WT['Amplitude'], 
               df_F_HM['Amplitude'])

F_onewayResult(statistic=2.421437151257458, pvalue=0.07233646863603667)

#### 5.2. Frequency data에 대한 1-way ANOVA

In [31]:
stats.f_oneway(df_M_WT['Frequency'], 
               df_M_HM['Frequency'],
               df_F_WT['Frequency'], 
               df_F_HM['Frequency'])

F_onewayResult(statistic=0.8099859160066722, pvalue=0.49218152714308416)

### 6. 2-way ANOVA
#### 6.1. Amplitude data에 대한 2-way ANOVA

In [32]:
model = ols('Amplitude~C(Sex)+C(Genotype)+C(Sex):C(Genotype)', df).fit()
anova_lm(model)

                      df        sum_sq      mean_sq         F    PR(>F)
C(Sex)               1.0   3712.449176  3712.449176  5.535360  0.021191
C(Genotype)          1.0     26.700702    26.700702  0.039811  0.842376
C(Sex):C(Genotype)   1.0   1132.870127  1132.870127  1.689140  0.197592
Residual            77.0  51642.270951   670.678844       NaN       NaN

#### 6.2. Frequency data에 대한 2-way ANOVA

In [33]:
model2 = ols('Frequency~C(Sex)+C(Genotype)+C(Sex):C(Genotype)', df).fit()
anova_lm(model2)

                      df      sum_sq    mean_sq         F    PR(>F)
C(Sex)               1.0   10.719734  10.719734  2.314185  0.132295
C(Genotype)          1.0    0.526334   0.526334  0.113625  0.736971
C(Sex):C(Genotype)   1.0    0.009945   0.009945  0.002147  0.963163
Residual            77.0  356.678212   4.632185       NaN       NaN