### 1. Library 반입

In [12]:
import pandas as pd
from scipy import stats 
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

### 2. Data 반입

In [13]:
df = pd.read_csv('./Df2.csv')
df.head()

    Sex Genotype  Amplitude  Frequency          Cell_ID
0  Male       WT      22.09       1.96  220519_WT_M_#03
1  Male       WT      18.93       2.66  220519_WT_M_#08
2  Male       WT      16.57       2.35  220519_WT_M_#11
3  Male       WT      14.12       1.85  220519_WT_M_#12
4  Male       WT      24.97       1.42  220614_WT_M_#01

### 3. 정규성 검정
#### 3.1. Group data 분할

In [14]:
df_M_WT=df[(df['Sex']=='Male')&(df['Genotype']=='WT')]
df_M_HM=df[(df['Sex']=='Male')&(df['Genotype']=='HM')]
df_F_WT=df[(df['Sex']=='Female')&(df['Genotype']=='WT')]
df_F_HM=df[(df['Sex']=='Female')&(df['Genotype']=='HM')]

#### 3.2. Amplitude data에 대한 정규성 검정

In [15]:
stats.shapiro(df_M_WT['Amplitude']),stats.shapiro(df_M_HM['Amplitude']),stats.shapiro(df_F_WT['Amplitude']),stats.shapiro(df_F_HM['Amplitude'])

(ShapiroResult(statistic=0.925338625907898, pvalue=0.12556752562522888),
 ShapiroResult(statistic=0.9258108139038086, pvalue=0.2090829759836197),
 ShapiroResult(statistic=0.8458581566810608, pvalue=0.019521910697221756),
 ShapiroResult(statistic=0.8869489431381226, pvalue=0.0730624794960022))

#### 3.3. Frequency data에 대한 정규성 검정

In [16]:
stats.shapiro(df_M_WT['Frequency']),stats.shapiro(df_M_HM['Frequency']),stats.shapiro(df_F_WT['Frequency']),stats.shapiro(df_F_HM['Frequency'])

(ShapiroResult(statistic=0.7325950860977173, pvalue=0.00010010497499024495),
 ShapiroResult(statistic=0.9026151895523071, pvalue=0.08851422369480133),
 ShapiroResult(statistic=0.8592836260795593, pvalue=0.029760761186480522),
 ShapiroResult(statistic=0.8539639711380005, pvalue=0.0251516941934824))

### 4. 등분산 검정
#### 4.1. Amplitude data에 대한 등분산 검정

In [17]:
stats.bartlett(df_M_WT['Amplitude'], 
               df_M_HM['Amplitude'], 
               df_F_WT['Amplitude'], 
               df_F_HM['Amplitude'])

BartlettResult(statistic=5.105914003550764, pvalue=0.16420386712243215)

#### 4.2. Frequency data에 대한 등분산 검정

In [18]:
stats.bartlett(df_M_WT['Frequency'], 
               df_M_HM['Frequency'], 
               df_F_WT['Frequency'], 
               df_F_HM['Frequency'])

BartlettResult(statistic=3.7469625802521547, pvalue=0.29011583731435386)

### 5. 1-way ANOVA 
#### 5.1. Amplitude data에 대한 1-way ANOVA

In [19]:
stats.f_oneway(df_M_WT['Amplitude'], 
               df_M_HM['Amplitude'],
               df_F_WT['Amplitude'], 
               df_F_HM['Amplitude'])

F_onewayResult(statistic=0.26992159301920216, pvalue=0.8468345961476628)

#### 5.2. Frequency data에 대한 1-way ANOVA

In [20]:
stats.f_oneway(df_M_WT['Frequency'], 
               df_M_HM['Frequency'],
               df_F_WT['Frequency'], 
               df_F_HM['Frequency'])

F_onewayResult(statistic=0.2396118234799542, pvalue=0.8683786552029849)

### 6. 2-way ANOVA
#### 6.1. Amplitude data에 대한 2-way ANOVA

In [21]:
model = ols('Amplitude~C(Sex)+C(Genotype)+C(Sex):C(Genotype)', df).fit()
anova_lm(model)

                      df      sum_sq   mean_sq         F    PR(>F)
C(Sex)               1.0    0.087659  0.087659  0.011548  0.914782
C(Genotype)          1.0    3.739081  3.739081  0.492573  0.485496
C(Sex):C(Genotype)   1.0    2.320123  2.320123  0.305644  0.582419
Residual            60.0  455.455437  7.590924       NaN       NaN

#### 6.2. Frequency data에 대한 2-way ANOVA

In [22]:
model2 = ols('Frequency~C(Sex)+C(Genotype)+C(Sex):C(Genotype)', df).fit()
anova_lm(model2)

                      df      sum_sq   mean_sq         F    PR(>F)
C(Sex)               1.0    0.852840  0.852840  0.168950  0.682511
C(Genotype)          1.0    2.489169  2.489169  0.493113  0.485257
C(Sex):C(Genotype)   1.0    0.286579  0.286579  0.056772  0.812484
Residual            60.0  302.872113  5.047869       NaN       NaN