### 1. Library 반입

In [34]:
import pandas as pd
from scipy import stats 
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

### 2. Data 반입

In [35]:
df = pd.read_csv('./Df4.csv')
df.head()

    Sex Genotype  Amplitude  Frequency          Cell_ID
0  Male       WT      49.24       0.69  220822_WT_M_#06
1  Male       WT      48.16       0.37  220822_WT_M_#07
2  Male       WT      42.23       1.82  220822_WT_M_#08
3  Male       WT      57.32       1.11  220822_WT_M_#09
4  Male       WT      56.78       1.90  220822_WT_M_#13

### 3. 정규성 검정
#### 3.1. Group data 분할

In [36]:
df_M_WT=df[(df['Sex']=='Male')&(df['Genotype']=='WT')]
df_M_HM=df[(df['Sex']=='Male')&(df['Genotype']=='HM')]
df_F_WT=df[(df['Sex']=='Female')&(df['Genotype']=='WT')]
df_F_HM=df[(df['Sex']=='Female')&(df['Genotype']=='HM')]

#### 3.2. Amplitude data에 대한 정규성 검정

In [37]:
stats.shapiro(df_M_WT['Amplitude']),stats.shapiro(df_M_HM['Amplitude']),stats.shapiro(df_F_WT['Amplitude']),stats.shapiro(df_F_HM['Amplitude'])

(ShapiroResult(statistic=0.8285818099975586, pvalue=0.0051416330970823765),
 ShapiroResult(statistic=0.9588784575462341, pvalue=0.580128014087677),
 ShapiroResult(statistic=0.9640830159187317, pvalue=0.736049473285675),
 ShapiroResult(statistic=0.9430546760559082, pvalue=0.20891238749027252))

#### 3.3. Frequency data에 대한 정규성 검정

In [38]:
stats.shapiro(df_M_WT['Frequency']),stats.shapiro(df_M_HM['Frequency']),stats.shapiro(df_F_WT['Frequency']),stats.shapiro(df_F_HM['Frequency'])

(ShapiroResult(statistic=0.6981892585754395, pvalue=0.00011027670552721247),
 ShapiroResult(statistic=0.9219226837158203, pvalue=0.13981656730175018),
 ShapiroResult(statistic=0.9372907280921936, pvalue=0.3171420693397522),
 ShapiroResult(statistic=0.787955105304718, pvalue=0.00024735438637435436))

### 4. 등분산 검정
#### 4.1. Amplitude data에 대한 등분산 검정

In [39]:
stats.bartlett(df_M_WT['Amplitude'], 
               df_M_HM['Amplitude'], 
               df_F_WT['Amplitude'], 
               df_F_HM['Amplitude'])

BartlettResult(statistic=11.037121569084254, pvalue=0.011526829418126772)

#### 4.2. Frequency data에 대한 등분산 검정

In [40]:
stats.bartlett(df_M_WT['Frequency'], 
               df_M_HM['Frequency'], 
               df_F_WT['Frequency'], 
               df_F_HM['Frequency'])

BartlettResult(statistic=10.510591849823903, pvalue=0.01468921839673509)

### 5. 1-way ANOVA 
#### 5.1. Amplitude data에 대한 1-way ANOVA

In [41]:
stats.f_oneway(df_M_WT['Amplitude'], 
               df_M_HM['Amplitude'],
               df_F_WT['Amplitude'], 
               df_F_HM['Amplitude'])

F_onewayResult(statistic=0.7643569847605557, pvalue=0.5178499613570902)

#### 5.2. Frequency data에 대한 1-way ANOVA

In [42]:
stats.f_oneway(df_M_WT['Frequency'], 
               df_M_HM['Frequency'],
               df_F_WT['Frequency'], 
               df_F_HM['Frequency'])

F_onewayResult(statistic=5.731497108024772, pvalue=0.0014475563821714067)

### 6. 2-way ANOVA
#### 6.1. Amplitude data에 대한 2-way ANOVA

In [43]:
model = ols('Amplitude~C(Sex)+C(Genotype)+C(Sex):C(Genotype)', df).fit()
anova_lm(model)

                      df        sum_sq     mean_sq         F    PR(>F)
C(Sex)               1.0    121.344431  121.344431  0.541563  0.464244
C(Genotype)          1.0    391.928380  391.928380  1.749187  0.190284
C(Sex):C(Genotype)   1.0      0.520044    0.520044  0.002321  0.961713
Residual            70.0  15684.425183  224.063217       NaN       NaN

#### 6.2. Frequency data에 대한 2-way ANOVA

In [44]:
model2 = ols('Frequency~C(Sex)+C(Genotype)+C(Sex):C(Genotype)', df).fit()
anova_lm(model2)

                      df      sum_sq     mean_sq          F    PR(>F)
C(Sex)               1.0  168.723674  168.723674  14.102035  0.000355
C(Genotype)          1.0    6.657070    6.657070   0.556402  0.458211
C(Sex):C(Genotype)   1.0   30.342594   30.342594   2.536054  0.115779
Residual            70.0  837.514377   11.964491        NaN       NaN