# R script for statistics

## 1. Wilcoxon-Mann-whitney test

    1. load data-set 1, Copy from clipboard

In [18]:
df1 <- read.delim("clipboard", header = F, stringsAsFactors = F)
head(df1)

  V1     V2       V3
1 0.2823 13.03473 1
2 0.4756 10.56486 1
3 1.6979 10.58619 1
4 2.9793 12.95108 1
5 3.4470 11.40776 1
6 4.3775 37.19345 1

    2. load data-set 2, Copy from clipboard

In [17]:
df2 <- read.delim("clipboard", header = F, stringsAsFactors = F) 
head(df2)

  V1     V2       V3
1 2.0572 10.36504 0
2 2.5935 13.51447 0
3 3.9757 10.08180 0
4 4.0993 20.12271 0
5 7.3003 10.70504 0
6 8.4286 13.55934 0

    3. Perform Wilcoxon-Mann-Whitney test

In [20]:
w.result <- wilcox.test(df1$V2, df2$V2, paired = F)
w.result

	Wilcoxon rank sum test with continuity correction

data:  df1$V2 and df2$V2
W = 86855, p-value = 4.772e-16
alternative hypothesis: true location shift is not equal to 0

*****

## 2. Independent T-test

In [26]:
df1 <- read.delim("clipboard", header=F, stringsAsFactors = F)
dim(df1)
head(df1)

[1] 23  1

  V1
1 33.00492
2 30.01625
3 36.80786
4 45.62793
5 17.58783
6 27.49066

In [24]:
df2 <- read.delim("clipboard", header=F, stringsAsFactors=F)
dim(df2)
head(df2)

[1] 21  1

  V1
1 0.06897
2 0.08304
3 0.06228
4 0.06489
5 0.08267
6 0.05234

    to evaluate the sample variences of the two groups. If p-value is greater than 0.05, then two variences are homogeneous. In this case, student's t-test will be performed. If p-value is less than 0.05, Welch two sample t-test will be performed.

In [22]:
var.result <- var.test(df1$V1, df2$V1) 
var.result

	F test to compare two variances

data:  df1$V1 and df2$V1
F = 0.75451, num df = 26, denom df = 20, p-value = 0.4941
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.3163382 1.7171760
sample estimates:
ratio of variances
          0.754511

    Perform t-test (paired, independent)

In [23]:
t.test <- if(var.result$p.value >= 0.05) {
    t.test(df1$V1, df2$V1, alternative = c("two.sided"), paired = F, var.equal = T)
    } else {
    t.test(df1$V1, df2$V1, alternative = c("two.sided"), paired = F, var.equal = F)
    }
t.test

	Two Sample t-test

data:  df1$V1 and df2$V1
t = -1.347, df = 46, p-value = 0.1846
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.015148201  0.003001957
sample estimates:
 mean of x  mean of y
0.04721593 0.05328905

*****

## 3. Two-sample Kolmogorov-Smirnov Test

    1. load data-set 1 from clipboard

In [2]:
df1 <- read.delim("clipboard", header = F, stringsAsFactors = F)
head(df1)

  V1
1 0.032
2 0.029
3 0.032
4 0.032
5 0.033
6 0.032

    2. load data-set 2 from clipboard

In [6]:
df2 <-　read.delim("clipboard", header = F, stringsAsFactors = F)
head(df2)

  V1
1 0.073
2 0.073
3 0.071
4 0.069
5 0.069
6 0.067

Perform two-sample KS test

In [9]:
ks.test(df1$V1, df2$V1)

Warning message in ks.test(df1$V1, df2$V1):
"p-value will be approximate in the presence of ties"

	Two-sample Kolmogorov-Smirnov test

data:  df1$V1 and df2$V1
D = 0.15422, p-value < 2.2e-16
alternative hypothesis: two-sided